<div class="container text-center">
  <h2 class="m-5">URL Shortener</h2>
  <div class="img m-3">
    <img src="../短網址.png" alt="" style="width: 10rem; height: 10rem;">
  </div>
  <div class="form mt-5">
    <h4>此網址已經縮址過了，縮網址如下</h4>
    <div>
      <a href="{{ originalURL }}">{{ shortURL }}</a>
    </div>
    <div class="text-center mt-3">
      <button type="button" class="btn btn-primary">copy</button>
    </div>
    </form>
  </div>
</div>